<h1>Sign in</h1>
<form action="/login/password" method="post">
    <section>
        <label for="username">Username</label><br/>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section><br/>
    <section>
        <label for="current-password">Password</label><br/>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section><br/>
    <span>Don't have an account? <a href="/signup">Sign up</a> </span> <br/>
    <button type="submit">Sign in</button>
</form>