<h1>Sign up</h1>
<form action="/signup" method="post">
    <section>
        <label for="username">Username</label><br/>
        <input id="username" name="username" type="text" autocomplete="username" required>
    </section><br/>
    <section>
        <label for="new-password">Password</label><br/>
        <input id="new-password" name="password" type="password" autocomplete="new-password" required>
    </section><br/>
    <span>Already have an account? <a href="/login">login</a> </span> <br/>
    <button type="submit">Sign up</button>
</form>